<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Ionic'">
  <content has-header="true" has-tabs="true" padding="true">
    <div class="list card">
      <div class="item">
        <h1>Thor loves cats!</h1>
      </div>
      <div class="item">
        <div class="videoWrapper">
          <iframe width="640" height="480" src="//www.youtube.com/embed/sP4NMoJcFd4?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="item">
        <p>This was really a responsive video test</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
    
    
    
  </content>
</view>
