<view title="'Add-Event'">
  <content has-header="true" has-tabs="true" has-footer="true">
    <list>

      <label class="item item-input"><input type="text" ng-model="event.department" placeholder="Department"></label>

<label class="item item-input">
  <select ng-model="event.department">
  </select>
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Chair Name</span>
  <input type="text" placeholder="Thor Anderson" ng-model="event.chairName">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Event Name</span>
  <input type="text" placeholder="Event-a-thon" ng-model="event.eventName">
</label>

<label class="item item-input">
  <span class="input-label">Start Date</span>
  <input type="date" ng-model="event.endDate">
</label>

<label class="item item-input">
  <span class="input-label">End Date</span>
  <input type="date" ng-model="event.endDate">
</label>

      <!-- <label for="" class="item item-input"><input type="text" ng-model="event.dateSubmitted" placeholder="dateSubmitted"></label> -->

      <label for="" class="item item-input"><input type="text" ng-model="event.location.building" placeholder="building"></label>

      <label for="" class="item item-input"><input type="text" ng-model="event.location.street" placeholder="street"></label>

      <label for="" class="item item-input"><input type="text" ng-model="event.location.city" placeholder="city"></label>

      <label for="" class="item item-input"><input type="text" ng-model="event.location.other" placeholder="other"></label>

      <label for="" class="item item-input"><input type="text" ng-model="event.url" placeholder="url"></label>

      <label for="" class="item item-input"><input type="text" ng-model="vent.description" placeholder="description"></label>

      <label for="" class="item item-input"><input type="text" ng-model="event.notes" placeholder="notes"></label>

    </list>
      <button ng-click="submitEvent()">Add Event</button>
  </content>
</view>

<!--
          <p>ID:{{ event.id }}</p>
          <p>Department: {{ event.department }}</p>
          <p>Chair Name: {{ event.chairName }}</p>
          <p>Event Name: {{ event.eventName }}</p>
          <p>Start Date: {{ event.StartDate }}</p>
          <p>End Date: {{ event.endDate }}</p>
          <p>Date Submitted: {{ event.dateSubmitted }}</p>
          <p>Location: </p>
          <p>Building: {{ event.location.building }}</p>
          <p>Street: {{ event.location.street }}</p>
          <p>City: {{ event.location.city }}</p>
          <p>Other: {{ event.location.other }}</p>
          <p>URL: {{ event.url }}</p>
          <p>Description: {{ event.description }}</p>
          <p>Notes: {{ event.notes }}</p>

-->
