<view title="'Hello Mr Dean'">
  <content has-header="true">
      <a href="#/">Normal View</a>
    
      <input type="text" ng-model="">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
  </content>
</view>

<!--
          <p>ID:{{ event.id }}</p>
          <p>Department: {{ event.department }}</p>
          <p>Chair Name: {{ event.chairName }}</p>
          <p>Event Name: {{ event.eventName }}</p>
          <p>Start Date: {{ event.StartDate }}</p>
          <p>End Date: {{ event.endDate }}</p>
          <p>Date Submitted: {{ event.dateSubmitted }}</p>
          <p>Location: </p>
          <p>Building: {{ event.location.building }}</p>
          <p>Street: {{ event.location.street }}</p>
          <p>City: {{ event.location.city }}</p>
          <p>Other: {{ event.location.other }}</p>
          <p>URL: {{ event.url }}</p>
          <p>Description: {{ event.description }}</p>
          <p>Notes: {{ event.notes }}</p>

-->
