
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<view title="'Hello Mr Dean'">
  <content has-header="true">
      
    <div class="list">
      <a class="item item-avatar" ng-repeat="event in events" href="#/event-details/{{event.value.eventName}}">
      	<img ng-src="../img/icons/{{ event.value.depticon }}" alt="{{ event.value.department }}" />
         <h2>{{ event.value.eventName }}</h2>
         <p>Date: {{event.value.startDate}} - {{event.value.endDate}} | Time: {{event.value.startTime}} - {{event.value.endTime}}</p>
      </a>
    </div>
  </content>
</view>

<!--
          <p>ID:{{ event.id }}</p>
          <p>Department: {{ event.department }}</p>
          <p>Chair Name: {{ event.chairName }}</p>
          <p>Event Name: {{ event.eventName }}</p>
          <p>Start Date: {{ event.StartDate }}</p>
          <p>End Date: {{ event.endDate }}</p>
          <p>Date Submitted: {{ event.dateSubmitted }}</p>
          <p>Location: </p>
          <p>Building: {{ event.location.building }}</p>
          <p>Street: {{ event.location.street }}</p>
          <p>City: {{ event.location.city }}</p>
          <p>Other: {{ event.location.other }}</p>
          <p>URL: {{ event.url }}</p>
          <p>Description: {{ event.description }}</p>
          <p>Notes: {{ event.notes }}</p>

-->







<!-- 

  Leaving code below for now, helpful when determining how to load things into a named view.

  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-default"> -->


  <!-- Pets Tab -->
<!--   <tab title="Home" icon="icon ion-home" href="#/tab/pets">
    <nav-view name="login-tab"></nav-view>
  </tab>
 -->

  <!-- Adopt Tab -->
  <!-- <tab title="Register" icon="icon ion-ios7-bookmarks" href="#/tab/register">
    <nav-view name="register-tab"></nav-view>
  </tab>
 -->

  <!-- About Tab -->
  <!-- <tab title="Add Radar Item" icon="icon ion-compose" href="#/tab/about">
    <nav-view name="about-tab"></nav-view>
  </tab> -->


<!-- </tabs>
 -->
 
 
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<!--<view title="'Hello Mr Dean'">
  <content has-header="true">

    <a href="#/">List View</a>
      
    <list>
      <a class="item" ng-repeat="event in events" href="#/data/{{event.id}}">
         Event: {{ event.value.eventName }}
         <span class="item-note">
			{{ event.value.department }}
		</span>


      </a>
    </list>
  </content>
</view>-->