
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<tabs tabs-style="tabs-icon-top" tabs-type="tabs-dark">

  <tab title="Events" icon="icon ion-home" href="#/dean/events">
    <nav-view name="tab1"></nav-view>
  </tab>


  <tab title="About" icon="icon ion-ionic" href="#/dean/about">
    <nav-view name="tab2">
      temp tab2
    </nav-view>
  </tab>

  <tab title="Add Event" icon="icon ion-ios7-compose" href="#/dean/add-event">
    <nav-view name="tab3">
    </nav-view>
  </tab>
</tabs>