
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<view title="'Hello Mr Dean'">
  <content has-header="true">

    <a href="#/">List View</a>
      
    <list>
      <a class="item" ng-repeat="event in events" href="#/data/{{event.id}}">
         Event: {{ event.value.eventName }}
         <span class="item-note">
			{{ event.value.department }}
		</span>


      </a>
    </list>
  </content>
</view>