<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view title="'Login'">
  <content has-header="true" has-tabs="true">
    
    <!-- Card -->
    <div class="card">
      <div class="item item-text-wrap">
        <h1>Dean Radar</h1>
        <p>Please login below to get started.</p>
      </div>
    </div>
    
    <!-- Login Block -->
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
      <button class="button button-block button-royal">
        Login
      </button>
    </div>

  </content>
  
  

  <div class="bar bar-footer bar-dark">
    <div class="title">Please Login</div>
  </div>
</view>
