<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view title="'Login'">
  <content has-header="true" has-tabs="true">
    
    <!-- Card -->
    <div class="card">
      <div class="item item-text-wrap">
        <h1>Dean Radar</h1>
        <p>Please login below to get started.</p>
      </div>
    </div>
    
    <!-- Post Test -->
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="creds.name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="creds.password">
      </label>
      <button class="button button-block button-royal" ng-click="postCookie()">
        POST Session
      </button>
    </div>

    <!-- Delete Session -->
    <div class="list list-inset">
      <button class="button button-block button-royal" ng-click="deleteCookie()">
        Delete Sesssion
      </button>
    </div>
    
    <!-- Get Session -->
    <div class="list list-inset">
      <button class="button button-block button-royal" ng-click="getCookie()">
        Get Session
      </button>
    </div>

    <!-- Login Block -->
    <div class="list list-inset">
      <button class="button button-block button-royal" ng-click="getTest()">
        Get Test
      </button>
    </div>





    <p>Need an account? <a href="#/register">Sign up</a>.</p>

  </content>
  
  

  <div class="bar bar-footer bar-dark">
    <div class="title">Please Login</div>
  </div>
</view>
