<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view title="'Confirmation'">
  <content has-header="true" has-tabs="true">
  
<div class="list card">

  <div class="item">
    <h3>Please Confirm Information</h3>
  </div>

  <div class="item item-body">
    <p>
      Double check the information below is correct, if it is not, select the fix button to the right of the element.
    </p>
  </div>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Department</span>
        <input type="text" placeholder="Digital Media">
      </label>
    </div>

</div>



      <div class="button-bar">
        <a class="button button-block button-royal" href="#/tab/register/3">
          Submit
        </a>
      </div>

  </content>
</view>
